* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.container article {
    line-height: 28px;
}

.container article h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
}

.container article p {
    margin-bottom: 20px;
}

